*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-card{
    background:#111827;
    padding:40px;
    width:350px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.auth-card h1{
    margin-bottom:10px;
    text-align:center;
}

.auth-card p{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    }

input{
    padding:14px;
    border:none;
    border-radius:10px;
    background:#1f2937;
    color:white;
}

button{
    padding:14px;
    border:none;
    border-radius:10px;
    background:#f97316;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    opacity:0.9;
}